body {
    font-family: Arial, sans-serif;
    text-align: center;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

li {
    margin-bottom: 20px;
}

a {
    text-decoration: none;
    color: #00698f;
}

a:hover {
    color: #0099cc;
}