#diez_de_diamantes {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 5;
    margin-top: -100px;
}

#jota_de_diamantes {
    position: absolute;
    left: 51%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 4;
    margin-top: -75px;
}

#reina_de_diamantes {
    position: absolute;
    left: 52%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
    margin-top: -50px;
}

#rey_de_diamantes {
    position: absolute;
    left: 53%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    margin-top: -25px;
}

#as_de_diamantes {
    position: absolute;
    left: 54%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}